Checks: |
  -*,

  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  readability-*,

  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-to-enum,
  -misc-include-cleaner,
  -readability-identifier-length

WarningsAsErrors: '*'
HeaderFilterRegex: '.*, -subprojects'
FormatStyle: file
InheritParentConfig: true
CheckOptions:
  - key: readability-function-cognitive-complexity.IgnoreMacros
    value: 'true'
