Checks: |
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  readability-*,
  -readability-identifier-length,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
WarningsAsErrors: '*'
HeaderFilterRegex: '.*, -subprojects'
FormatStyle: file
InheritParentConfig: true
CheckOptions:
  - key: readability-function-cognitive-complexity.IgnoreMacros
    value: 'true'
