*.csv
*.mp4
*.zip
*.log
*Zone.Identifier
.cache/
.mxproject
.tools/
.venv/
.vscode/settings.json
build/
__pycache__/
compile_commands.json
subprojects/*
!subprojects/packagefiles/
!subprojects/*.wrap
